/* ---------------------------------------------------------
   HTML5 Bones
   This stylesheet contains print styling and a section for 
   you to simply add your own. This is a basic template 
   after all.
   ---------------------------------------------------------*/

body {
    background-image: url("../images/ElbSides_Circuit_V2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #00d298;
    /* Font color */
    color: white;
    text-shadow: 1px 1px grey;
    
}

abbr[title] {
  border-bottom: none;
  text-decoration: none;
  text-decoration: note;
}

/* Default link styling */
a:link { color:#ccf5ff; }
a:visited { color:white; }
a:hover, a:focus { color:blue; }
a:active { color:#fb0e02; }
        
/* ---------------------------------------------------------
   Author's styles
   ---------------------------------------------------------*/
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

    
/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/

@media print {
    * {
        color:#000 !important;
        box-shadow:none !important;
        text-shadow:none !important;
        background:transparent !important;
    }
    html { background-color:#fff; }
    /* Hide navigation */
    nav { display:none; }

    /* Show link destinations in brackets after the link text */
    a[href]:after { content: " (" attr(href) ") "; }
    a[href] {
        font-weight:bold;
        text-decoration:underline;
        color:#06c;
        border:none;
    }
    /* Don't show link destinations for JavaScript or internal links */ 
    a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }
    
    /* Show abbr title value in brackets after the text */
    abbr[title]:after { content: " (" attr(title) ")"; }

    figure { 
        margin-bottom:1em; 
        overflow:hidden;
    }

    figure img { border:1px solid #000; }
}
